

$color-primary: #925755;
$color-secondary: #E8BBBB;

.container {
    max-width: 1038px;
    margin: 0 auto;
    padding: 0 16px 60px 16px;
}

.item {
    margin-bottom: 16px;
}

.item__header {
    background-color: $color-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    border-radius: 16px 16px 0 0;
    h2 {
        font-size: 1.5rem;
    }
    span {
        font-size: 1.1rem;
    }
}

.item__content {
    background-color: $color-secondary;
    padding: 16px;
    border-radius: 0 0 4px 4px;
}
.item__content_big {
    background-color: $color-secondary;
    padding: 16px;
    border-radius: 0 0 4px 4px;
}

.pagination {
    display: flex;
    justify-content: center;
}
.footer {
  
    flex-direction: row;
    background-color: #638FFF;
    height: 55px;
    position: fixed;
    width: 100%;
    bottom:0px
}